beautifulsoup4==4.6.0
bs4==0.0.1
chardet==3.0.4
dill==0.2.7.1
IMDbPY==6.3
lxml==4.2.0
multiprocess==0.70.5
nltk==3.2.5
numpy==1.14.2
pandas==0.22.0
pathos==0.2.1
pox==0.2.3
ppft==1.6.4.7.1
pysrt==1.1.1
python-dateutil==2.7.0
pytz==2018.3
scipy==1.0.0
selenium==3.11.0
six==1.11.0
SQLAlchemy==1.2.5
textblob==0.15.1
urllib3==1.22
